.Header {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 8px 0 rgba(0, 21, 41, 0.12);
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
}

.logo {
  height: 31px;
  width: 62px;
  margin: 6px 0px 3px 181px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.logo-name {
  height: 16px;
  width: 62px;
  color: rgba(0, 0, 0, 0.45);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0px 0px 0px;
}

.session {
  margin: 10px 0px 0px 65%;
  width: 10%;
  display: flex;
  flex-direction: row;
}

.line-separator {
  height: 20px;
  width: 1px;
  background-color: #dddddd;
}

.user-dropdown {
  margin-left: 5px;
  height: 18px;
  width: 91px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
}
